<!-- INCLUDE overall_header.html -->

<div id="page-body">

  <div class="panel bg1">
    <div class="inner">
      <h2>Thank you!</h2>
      <p>{S_USERNAME},</p>
      <p><strong>Thank you for applying to become a member of Christian Crew Gaming!</strong></p>
      <p>Your application will now be reviewed by the CCGaming leadership team. If we have any questions regarding your application, we will email you for clarification. If you have any questions, feel free to reach out to any of our Council members.</p>
      <p>Please do not wear the CC tags until you have received membership confirmation. You may, however, wear the A-tag (&lt;A&gt;) to show that you are an applicant.</p>
      <p>Thank you again &mdash; we'll be in touch soon!</p>
      <p><a href="{BOARD_URL}">{L_INDEX}</a></p>
    </div>
  </div>

</div>

<!-- INCLUDE overall_footer.html -->
